.deps
.libs
*.o
*.lo
*~
Makefile
Makefile.in
config.log
config.h
config.h.in
config.status
stamp-h1
configure
*.obj
*.la
.gitignore
de265-config.h

# MSVC
*.sln
*.ncb
*.suo
*.vcproj*

*.m4
autom4te.cache
config.guess
config.sub
depcomp
install-sh
libde265.pc
libde265/de265-version.h
libtool
ltmain.sh
missing

.metadata/
.cproject
.project
libde265/Debug
